<section id="instructions">
  <article id="dl-ints">
  <h4>Download instructions:</h4>
    <p>Running the game: Download everything in Runnable folder, extract all the files into a folder, and run v0.3.0.exe </p>
  </section>
</article>
