<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Mystery Machine v0.3.0 Release">
    <meta name="keywords" content="unity3d, cse522, mysterymachine,">
    <meta name="robots" content="index, follow">

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway" rel="stylesheet">
    <link rel=icon href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/main.css">

    <title>Mystery Machine Beta v0.3.0</title>
  </head>
