<nav id="bar">
    <ul class="nav-list">
        <li class ="l_nav_button"> <a href="/">Home</a> </li>
        <li class ="l_nav_button"> <a href="/docs">Docs</a> </li>
        <li class ="l_nav_button"> <a href="https://github.com/rm21845/themysterymachine/issues">Submit a Bug!</a> </li>
        <li class ="l_nav_button"> <a href="https://help.github.com/articles/creating-an-issue/">How to submit</a> </li>
        <li class ="r_nav_button"> <a href="https://drive.google.com/uc?id=15lvYAxlOVIL975HNi_AyEtWGNqyAQ8RU&export=download">Download Beta v0.3.0</a></li>
        <li class ="r_nav_button"> <button id="yes" type="button">Download Instructions</button></li>
    </ul>
</nav>
