<% include partials/head.ejs %>
      <% include partials/nav.ejs %>
  <body>

      <% include partials/download.ejs %>

<h1>Loading... </h1>


    <script src="/public/main.js"></script>
    <% include partials/foot.ejs %>
