<% include partials/head.ejs %>
      <% include partials/nav.ejs %>

      <body>

        <% include partials/download.ejs %>

              <iframe id="ytplayer" type="text/html" width="720px" height="405"
              src="https://www.youtube.com/embed/jhSFkiyipaE"
              frameborder="0" allowfullscreen></iframe>

              <section>

            <h1>The Mystery Machine</h1>
<article>
            <h2>What is it?</h2>
              <p>
                  <b>The Mystery Machine</b> is a FPS, but it works a little bit differely
                than the average shooter. It comes with the same elements you get in
                a shooter. The difference is that when you shoot at enemies they may
                not die as you'd expect. Instead of a quick demise, you, the player
                transports into the enemies body. You're now looking through the
                enemies eyes. You have the gun they shot at you with. This game
                is different and requires you to play with a different strategy than
                your average shooter. It requires thinking of the conseunces of a possible
                switch and quick reaction.
              </p>

                  <p>
                <b>We are in our development phase</b> and there is still a lot
                of work to do and issues to be completed. The are only 3 developers
                on our team but an endless amount of problems. If there were more
                people to help contribute and be a part of an innovate game, then
                it can go very far.
                </p>
</article>
<article>
              <h2>Want to help?</h2>
              <p>
                  We invite you to check out the game just for the entertainment,
                  but you can also be a part a development process and help solve problems.
                  There are many ways you can help out. The number one way to help out is to
                  play the game and indentify problems with the game. There are a lot of things to
                  look out for. Player and enemy physics is one of them. Another thing to look out
                  for is the gun mechanics. If the guns do not reload properly or act in any way where
                  it seems like the behavior is not intended. The enemy/player swapping mechanics are also
                  a bit complicated. Maybe the player doesn't switch when he is supposed to. Maybe the
                  player has the same gun and didn't switch.
              </p>

              <p>
                  <b>After you identify a bug</b>, you can let us know. The links above given at the top
                  are some of the ways. We have an <a href="https://github.com/rm21845/themysterymachine">issue submission
                  page </a> that
                  you can visit to post an issue(the bug). If your
                  are unfamiliar with Github, it is basically a centralized repository that allows teams of developers
                  to collaborate together. It helps mitigate and handle inivetable development issues, so developers
                  can stick to the development. We also have a Gitter commmunity. It's a real-time chat application that
                  resembles Discord. However, it's focus is on helping developers collaborate. Anyone is walking to join
                  our local channel to chat with us. If you'd like to know more about the development process we have an
                  additional FAQ and resources area in our   <a href="/docs">docs</a> page.
              </p>
</article>
<section>
    <script src="public/main.js"></script>
<% include partials/foot.ejs %>
